<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PARSE_APPLICATION_ID</key>
	<string>gDMtCv9JMpUYeimujSfxkxRXIW11weaUPEtp9zvG</string>
	<key>PARSE_CLIENT_ID</key>
	<string>IwElp0NsJG2S0xN6thQNI06mphBlP8YpY8Y4XeJR</string>
</dict>
</plist>
